html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  /* --italic: '', taviraj; */
}

body {
  /* Color scheme: "Classy Palette" */
  /* #00E956 */
  /* #3D4A3D */
  /* #A0AFA0 */
  /* #00C9FF */
  /* #0092E0 */

  /* Color scheme: "5 bit" */
  /* #e0f8cf */
  /* #86c06c */
  /* #417d41 */
  /* #21413a */
  /* #071821 */
  --stat-bar-bg: #86c06c;
  --story-txt-bg: #e0f8cf;
  --choice-bg: #86c06c;
  --choice-txt-color: #071821;
  --body-bg: #e0f8cf;
  --border: #071821;
  --time-bg: red;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Lekton', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 18px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
}

body.dark {
  --stat-bar-bg: #86c06c;
  --story-txt-bg: #071821;
  --choice-bg: #86c06c;
  --choice-txt-color: #e0f8cf;
  --body-bg: #071821;
  --border: #e0f8cf;
  --time-bg: red;
  background-color: var(--body-bg);
}

#title-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  color: var(--choice-txt-color);
}

#game-screen {
  display: none;
}

#stat-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  flex-direction: column;
}

#stat-bar-menu, #booster-icon-list, #code-icon-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: var(--stat-bar-bg);
  border: var(--border) 2px solid;
  border-radius: 40px;
  margin: 12px;
}

#booster-icon-list, #code-icon-list {
  display: none;
  justify-content: flex-start;
  /* width: 80px; */
  width: fit-content;
}

.booster-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 12px 0;
}

.booster-item {
  height: 48px;
  width: 48px;
}

.icon-container {
  display: grid;
  grid-template-columns: 48px;
  grid-template-rows: 48px;
  grid-template-areas: 
  "icon"
  ;
}

.stat-icon, .stat-icon-fill, .stat-fill-cover {
  height: 100%;
  grid-area: icon;
  z-index: 3;
}

.stat-fill-cover {
  background-color: var(--stat-bar-bg);
  z-index: 2;
}

.stat-icon-fill {
  filter: invert(45%) sepia(65%) saturate(5959%) hue-rotate(341deg) brightness(106%) contrast(107%);
  z-index: 1;
}

#circular{
  height: 48px;
  width:  48px;
  position: relative;
  transform:scale(2);
  transform: rotate(60deg);
  border: white 0px solid;
  border-radius: 50%;
}

#circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--choice-bg);
  border-radius: 100%;
  clip: rect(0px, 48px, 48px, 24px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 24px, 48px, 0px);
  background: var(--time-bg);
}

.circle .left .progress {
  z-index: 1;
}

.circle .right {
  transform: rotate(180deg);
  z-index: 2;
}

#scene-art-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 300px;
  padding: 12px;
}

#scene-art {
  height: 100%;
  flex-grow: 1;
}

#story-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  height: 138px;
  padding: 12px;
  margin: 12px 12px 0px;
  /* font-size: 2.4rem; */
  font-size: 4.5vw;
  text-align: center;
  color: var(--choice-txt-color);
  background-color: var(--story-txt-bg);
  border: var(--choice-bg) 4px solid;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  height: 228px;
  width: 95%;
}

#player-choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.choice-btn, .progress-btn {
  display: initial;
  width: 100%;
  height: 57px;
  margin: 12px 0px 0px;
  font-size: 1.8rem;
  border-radius: 40px;
  border: var(--choice-bg) 1px solid;
  background-color: var(--choice-bg)
}

#start-button {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 0.10fr 0.8fr 0.10fr;
    grid-template-rows: 0.5fr 0.15fr 0.25fr;
    grid-template-areas: 
    "stat-bar scene-art empRight"
    "empLeft story-text empRight"
    "empLeft buttons empRight"
    ;
  }

  #title-screen {
    grid-column: 2 / 3;
  }
  
  #stat-bar {
    grid-area: stat-bar;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 572px;
    width: 70px;
  }

  #stat-bar-menu, #booster-icon-list, #code-icon-list  {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 572px;
    width: 80px;
  }

  #booster-icon-list, #code-icon-list {
    display: none;
    justify-content: flex-start;
    position: absolute;
    width: 80px;
    left: 100px;
    /* height: 80px; */
    height: fit-content;
  }

  .booster-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6px 10px 6px;
  }

  #scene-art-section {
    grid-area: scene-art;
    margin-left: 12px;
  }

  #scene-art {
    height: 150%;
    flex-grow: 1;
  }

  #story-text {
    grid-area: story-text;
    font-size: 2.15vw;
  }

  #buttons, #player-choices {
    grid-area: buttons;
  }

  #player-choices {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .choice-btn {
    width: 48%;
    flex-grow: 2;
    margin-left: 12px;
  }
}